.home{
    height: 75vh;
    background-image: url(../../assets/images/title.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
/* media */
@media screen and (max-width:1200px){
    .home{
        margin: 0px;
        padding: 0px;
    }
    
}



