
<div [routerLink]="['/movie-detials',info.id,info.media_type]" class="content position-relative my-2">
    <figure class="m-0">
        <img [src]="'https://image.tmdb.org/t/p/w500'+info.poster_path" class="w-100 h-100 "  alt="">
        <div class="rate text-black-50" >
            {{info.vote_average}}
        </div>
    </figure> 
    <div class="layer text-muted">
        {{info.overview}}
    </div>
</div>
<div class="title-movie">
    <h5 class="text-muted">{{info.title?.split(' ')?.splice(0,4)?.join(' ')}}</h5>
</div>

