<nav class="navbar navbar-expand-lg  navbar-dark px-4 fixed-top ">
    <div class="container-fluid px-1 ">
      <a class="navbar-brand" href="#"><img src="../../assets/images/logo-dark.webp" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 " *ngIf="isloggedin">
          <li class="nav-item">
            <a class="nav-link text-white " routerLink="home" routerLinkActive="activateroute" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " routerLink="movies" routerLinkActive="activateroute">movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="tvshow" routerLinkActive="activateroute" >tvshow</a>
          </li>
          
         
        </ul>
        <div class="navbar-nav d-flex align-items-center end-0 "  role="search">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item ">
              <a class="nav-link ">  <i class="fa-brands text-black fa-facebook"></i>  </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ">   <i class="  fa-brands text-black fa-twitter "></i>  </a>             
            </li>
            <li class="nav-item ">
              <a class="nav-link">  <i class="fa-brands text-black fa-youtube "></i>  </a>             
            </li>
          </ul>
            <ul class="navbar-nav me-auto list-unstyled d-flex text-white  mb-0">
              <li  class="nav-item mx-1" >
                <a class="nav-link  cursor-pointer " *ngIf="!isloggedin" routerLink="register">Register</a>
              </li>
              <li  class="nav-item mx-1" >
                <a class="nav-link  cursor-pointer "  *ngIf="!isloggedin" routerLink="login">login</a>
              </li>
              <li (click)="logout()" class=" nav-item mx-1" >
                <a  class="nav-link cursor-pointer "  *ngIf="isloggedin">logOut</a>
              </li>
            </ul>
        </div>
        </div>

       
      </div>
        
  

  
  </nav>
